<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>

        <title>{% block title %}Bibliothèque{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body class="container">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('"js/materialize.min.js"') }}"></script>
        <div>
            {% block header %}
                <h1>Bibliothèque de livre</h1>
            {% endblock %}
        </div>
        <div>
            {% block body %}{% endblock %}
        </div>
            {% block javascripts %}{% endblock %}
    </body>

</html>
