<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/global.css') }}"/>
        <title>{% block title %}Bibliothèque{% endblock %}</title>
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ asset("js/materialize.min.js") }}"></script>


        {% endblock %}
    </head>
    <body>

        <div class="grey darken-2 white-text">
            {% block header %}
                <a href="{{ path('homepage') }}"><h1>Bibliothèque</h1></a>
            {% endblock %}
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>

</html>
